body {
    font-family: Arial, serif;
    color: #001020;
}

textarea {
    font-size: 12px;
    width: 98%;
    padding: 1%;
    resize: none;
    border: #630000 .1rem solid;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

img {
    border: black 5px solid;
}